# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
ENV/
build/
dist/

# Pipenv
Pipfile.lock

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/

# Python bytecode
*.pytest_cache/

# Alembic
migrations/versions/*.pyc
