# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
ENV/
build/
dist/

# Pipenv
# Pipfile.lock


# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar package-lock.json
package-lock.json

# VSCode
.vscode/

# Python bytecode
*.pytest_cache/

# Testing
htmlcov/
.coverage
.coverage.*
coverage.xml
.pytest_cache/

# Alembic
migrations/versions/*.pyc
