[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
python-dotenv = "*"
flask-cors = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"
flask-migrate = "*"
flask-bcrypt = "*"
boto3 = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.11"
